.justify-between {
    justify-content: space-between;
}

.pb-5 {
    padding-bottom: 5px;
}

.gap-1 {
    gap: .5rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
